@media screen and (min-width: 1200px) {
  .container {
    max-width: 1136px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  .top-sellers-title {
    margin-bottom: 50px;
  }
  .btn-sale {
    width: 162px;
    height: 50px;
  }
  .section-list-img-mobile,
  .section-list-img-tablet {
    display: none;
  }
  .section-list-img-desktop {
    display: flex;
    gap: 16px;
  }
  .desktop-tablet-title {
    width: 417px;
    padding-left: 20px;
    margin-right: 475px;
  }
  .order-block {
    display: flex;
  }
  .photo-img1,
  .photo-img2,
  .photo-img3 {
    margin-bottom: 32px;
  }
  .section-list-img-desktop {
    justify-content: center;
    align-content: center;
  }
}
