@media screen and (max-width: 768px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .photo-img3 {
    display: none;
  }
  .desktop-tablet-title {
    display: none;
  }
  .top-sellers-title {
    margin-bottom: 32px;
  }
}
